@page
@model GanjooRazor.Pages.ContentModel
@{
    Layout = "Shared/_GanjoorPage";
}



@{
    ViewData["Title"] = $"گنجور &raquo; {Html.Raw(Model.Cat.Poet.Name)}";
    ViewData["BrearCrumpList"] =
        "{" +
"\"@context\": \"http://schema.org\"," +
"\"@type\": \"BreadcrumbList\"," +
"\"itemListElement\": [" +
"{" +
        "\"@type\": \"ListItem\"," +
"\"position\": 1," +
"\"item\": {" +
            $"\"@id\": \"https://ganjoor.net{Html.Raw(Model.Cat.Poet.FullUrl)}/\"," +
$"\"name\": \"{Html.Raw(Model.Cat.Poet.Name)}\"," +
"\"image\": \"https://i.ganjoor.net/poem.png\"" +
"}" +
    "}" +
"]" +
"}";
}



<div id="hdr2" class="clearfix">
    <h1><a href="https://ganjoor.net" title="گنجور"><img src="https://ganjoor.net/img/ganjadabk.gif" alt="گنجور" /></a></h1>

    <div class="actionbox">
        <form action="https://ganjoor.net/index.php" method="get" id="searchhorm">
            <label for="s">جستجو:</label>
            <input type="text" name="s" id="s" class="inputText" size="35" value="" />
            <select name="author" id="author">
                <option value="0" selected="selected">در آثار همه شاعران</option>
                @{
                    foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                    {
                        if (poet.Id == Model.Cat.Poet.Id)
                        {
                            <option value="@poet.Id" selected="selected">@Html.Raw(poet.Name)</option>
                        }
                        else
                        {
                            <option value="@poet.Id">@Html.Raw(poet.Name)</option>
                        }

                    }
                }
            </select>
            <input type="submit" value="بیاب" />
        </form>
    </div> <!-- .actionbox -->


</div><!-- #hdr2 -->


<div id="fa">
    <div id="maincnt">

        <div class="poem" id="post-43207">
            <h2>
                @{
                    if (Model.PoemPage)
                    {
                        <a href="@Html.Raw(Model.Poem.FullUrl)" rel="bookmark">
                            @Html.Raw(Model.Poem.Title)
                        </a>
                    }
                    else
                    {
                        <a href="@Html.Raw(Model.Cat.Cat.FullUrl)" rel="bookmark">
                            @Html.Raw(Model.Cat.Cat.Title)
                        </a>
                    }
                }

            </h2>
            <div class="spacer">&nbsp;</div>
            <div style="width:82px;margin:auto">
                <a href="@Html.Raw(Model.Cat.Poet.FullUrl)"><img src="https://raw.githubusercontent.com/ganjoor/ganjoorflutter/main/images/poets/@(Model.Cat.Poet.Id).png" alt="@Html.Raw(Model.Cat.Poet.Name)" /></a>
            </div>
            <div style="width:100%;margin:auto">
                @{
                    foreach (var gran in Model.Cat.Cat.Ancestors)
                    {
                        <a href="@Html.Raw(gran.FullUrl)">@Html.Raw(gran.Title)</a><span> &raquo;</span>
                    }
                    <a href="@Html.Raw(Model.Cat.Cat.FullUrl)">@Html.Raw(Model.Cat.Cat.Title)</a>
                }

            </div>
            <div class="spacer">&nbsp;</div>
            @{
                if (Model.PoetPage)
                {
                    <p>
                        @Html.Raw(Model.Cat.Poet.Description)
                    </p>
                }

                if (Model.PoemPage)
                {
                    @Html.Raw(Model.Poem.HtmlText)
                }
            }


            @{
                if (!Model.PoemPage)
                {
                    foreach (var cat in Model.Cat.Cat.Children)
                    {
                        <p><a href=" @Html.Raw(Model.Cat.Cat.UrlSlug + "/" + cat.UrlSlug)"> @Html.Raw(cat.Title)</a></p>
                    }

                    foreach (var poem in Model.Cat.Cat.Poems)
                    {
                        <p><a href=" @Html.Raw(Model.Cat.Cat.UrlSlug + "/" + poem.UrlSlug)"> @Html.Raw(poem.Title)</a></p>
                    }
                }

            }

            @{
                if (Model.CatPage)
                {
                    <nav>
                        <div class="spacer">&nbsp;</div>
                        <div class="navigation">
                            <div class="navleft">
                                @if (Model.Cat.Cat.Next != null)
                                {
                                    <a href="@Html.Raw(Model.Cat.Cat.Next.UrlSlug)">@Html.Raw(Model.Cat.Cat.Next.Title)</a><span> &raquo;</span>
                                }
                            </div>
                            <div class="navright">
                                @if (Model.Cat.Cat.Previous != null)
                                {
                                    <span>&laquo; </span><a href="@Html.Raw(Model.Cat.Cat.Previous.UrlSlug)">@Html.Raw(Model.Cat.Cat.Previous.Title)</a>
                                }
                            </div>
                        </div>
                    </nav>
                }

                if (Model.PoemPage)
                {
                    <nav>
                        <div class="spacer">&nbsp;</div>
                        <div class="navigation">
                            <div class="navleft">
                                @if (Model.Poem.Next != null)
                                {
                                    <a href="@Html.Raw(Model.Poem.Next.UrlSlug)">@Html.Raw(Model.Poem.Next.Title)</a><span> &raquo;</span>
                                }
                            </div>
                            <div class="navright">
                                @if (Model.Poem.Previous != null)
                                {
                                    <span>&laquo; </span><a href="@Html.Raw(Model.Poem.Previous.UrlSlug)">@Html.Raw(Model.Poem.Previous.Title)</a>
                                }
                            </div>
                        </div>
                    </nav>
                }
            }


            <div class="spacer">&nbsp;</div>

        </div>

        <div class="helpers">

            <div class="cat">
            </div>

            <div class="com">

            </div>

        </div>




    </div>

    <div id="footer">
        <ul>
            <li><a href="https://ganjoor.net">خانه</a> | </li>
            <li><a href="http://ganjoor.net/random/">بیت تصادفی</a> | </li>
            <li><a href="https://ganjoor.net/mundex/">نمایهٔ موسیقی</a> | </li>
            <li><a href="http://blog.ganjoor.net/">تازه‌ها</a> | </li>
            <li><a href="https://ganjoor.net/hashieha/">حاشیه‌ها</a> | </li>
            <li><a href="http://c.ganjoor.net">کدها</a> | </li>
            <li><a href="http://dg.ganjoor.net">رومیزی</a> | </li>
            <li><a href="http://pozh.org/saaghar/">ساغر</a> | </li>
            <li><a href="http://epub.ganjoor.net">کتابخانه</a> | </li>
            <li><a href="https://museum.ganjoor.net">گنجینه</a> | </li>
            <li><a href="https://ganjoor.net/vazn/">آمار</a> | </li>
            <li><a href="https://ganjoor.net/about/">معرفی</a> | </li>
            <li><a href="https://ganjoor.net/sources/">منابع</a> | </li>
            <li><a href="https://ganjoor.net/donate/">کمک</a> | </li>
            <li><a href="https://ganjoor.net/contact/">تماس</a></li>
        </ul>
    </div>


</div>