@page
@model GanjooRazor.Pages.SpotifyModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>انتخاب قطعهٔ موسیقی مرتبط با شعر از اسپاتیفای</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".search").keyup(function () {
                var searchid = $(this).val();
                var dataString = 'search=' + searchid;
                if (searchid != '') {
                    $.ajax({
                        type: "POST",
                        url: "/spotify?handler=SearchByArtistName",
                        data: dataString,
                        cache: false,
                        success: function (html) {
                            $("#result").html(html).show();
                        }
                    });
                } return false;
            });


            jQuery("#result").on("click", function (e) {
                var $clicked = $(e.target);
                var $name = $clicked.find('.name').html();
                var $artist_id = $clicked.find('.artist_id').html();
                var $artist_url = $clicked.find('.artist_url').html();
                var decoded = $("<div/>").html($name).text();

                $("#artistlink").attr('href', $artist_url);

                $('#l1').css('visibility', 'visible');

                $("#spotify_artist_name").val($name);
                $("#spotify_artist_url").val($artist_url);

                $('#searchid').val(decoded);
                if ($("#searchid").val() != '') {
                    $("#searchid").attr("disabled", "disabled");
                    $('#album').attr("disabled", "disabled");
                    $("#track").attr("disabled", "disabled");

                    $.post("/spotify?handler=FillAlbums", {
                        'artist': $artist_id
                    },
                        function (data) {
                            var sel = $("#album");
                            sel.empty();
                            for (var i = 0; i < data.length; i++) {
                                sel.removeAttr("disabled");
                                sel.append('<option album-url="' + data[i].url + '" value="' + data[i].id + '">' + data[i].name + '</option>');
                            }

                            $("#searchid").removeAttr("disabled");




                            $('#album').trigger("change");


                        }, "json");


                }
            });

            jQuery(document).on("click", function (e) {
                var $clicked = $(e.target);
                if (!$clicked.hasClass("search")) {
                    jQuery("#result").fadeOut();
                }
                if (!$clicked.hasClass("trackq")) {
                    jQuery("#resultq").fadeOut();
                }
            });

            $('#searchid').click(function () {
                jQuery("#result").fadeIn();

            });

            $('#trackq').click(function () {
                jQuery("#trackq").fadeIn();

            });

            $(".trackq").keyup(function () {
                var searchid = $(this).val();
                var dataString = 'search=' + searchid;
                if (searchid != '') {
                    $.ajax({
                        type: "POST",
                        url: "/spotify?handler=SearchByTrackTitle",
                        data: dataString,
                        cache: false,
                        success: function (html) {
                            $("#resultq").html(html).show();
                        }
                    });
                } return false;
            });

            jQuery("#resultq").on("click", function (e) {
                var $clicked = $(e.target);
                var $artist_name = $clicked.find('.artist_name').html();
                var $artist_id = $clicked.find('.artist_id').html();
                var $artist_url = $clicked.find('.artist_url').html();

                var $album_name = $clicked.find('.album_name').html();
                var $album_id = $clicked.find('.album_id').html();
                var $album_url = $clicked.find('.album_url').html();


                var $track_name = $clicked.find('.track_name').html();
                var $track_id = $clicked.find('.track_id').html();
                var $track_url = $clicked.find('.track_url').html();


                var decoded = $("<div/>").html($track_name).text();

                $("#artistlink").attr('href', $artist_url);
                $("#albumlink").attr('href', $album_url);
                $("#tracklink").attr('href', $track_url);

                $('#searchid').val($artist_name);

                $('#l1').css('visibility', 'visible');
                $('#l2').css('visibility', 'visible');
                $('#l3').css('visibility', 'visible');

                $("#spotify_artist_name").val($artist_name);
                $("#spotify_artist_url").val($artist_url);
                $("#spotify_album_name").val($album_name);
                $("#spotify_album_url").val($album_url);
                $("#spotify_track_name").val($track_name);
                $("#spotify_track_url").val($track_url);



                $('#trackq').val(decoded);

                var selAlbum = $("#album");
                selAlbum.empty();
                selAlbum.append('<option album-url="' + $album_url + '" value="' + $album_id + '">' + $album_name + '</option>');

                var selTrack = $("#track");
                selTrack.empty();
                selTrack.append('<option track-url="' + $track_url + '" value="' + $track_id + '">' + $track_name + '</option>');

            }

            );




            $('#album').on('change', function () {
                if ($("#album option:selected").text() != '') {
                    $("#track").attr("disabled", "disabled");
                    var $album_url = $("#album option:selected").attr('album-url');
                    $("#albumlink").attr('href', $album_url);
                    $('#l2').css('visibility', 'visible');


                    $("#spotify_album_name").val($("#album option:selected").html());
                    $("#spotify_album_url").val($album_url);

                    $.post("/spotify?handler=FillTracks", {
                        'album': $("#album option:selected").val()
                    },
                        function (data) {
                            var sel = $("#track");
                            sel.empty();
                            for (var i = 0; i < data.length; i++) {
                                sel.removeAttr("disabled");
                                sel.append('<option track-url="' + data[i].url + '" value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                            $("#track").removeAttr("disabled");
                            $('#track').trigger("change");



                        }, "json");
                }
            });


            $('#track').on('change', function () {
                if ($("#track option:selected").text() != '') {

                    $("#trackid").val($("#track option:selected").val());



                    var $track_url = $("#track option:selected").attr('track-url');

                    $("#tracklink").attr('href', $track_url);

                    $('#l3').css('visibility', 'visible');

                    $("#spotify_track_name").val($("#track option:selected").html());
                    $("#spotify_track_url").val($track_url);





                }
            });

            $('#spotify').on('click', function() {
                window.location.href = "@Html.Raw($"/spotify/?p={Model.PoemId}")";
            });

            $('#golha').on('click', function () {
                window.location.href = "@Html.Raw($"/g/?p={Model.PoemId}")";
            });

            $('#beeptunes').on('click', function () {
                window.location.href = "@Html.Raw($"/bp/?p={Model.PoemId}")";
            });


        });
    </script>

    <link href="/css/p5.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <style type="text/css">

        a img {
            width: unset;
            display: unset;
        }



        .content, .poem {
            width: 530px;
            margin: auto;
            display: block;
            background: transparent url(/image/cbk.jpg) repeat scroll 0%;
            background-position: top center;
            margin-top: 20px;
            margin-bottom: 6px;
            padding: 3px;
            clear: both;
            border: 2px solid #300;
        }

        .poem {
            background: transparent url(/image/pbk.jpg) repeat scroll 0%;
            background-position: top center;
        }

            .poem p {
                font-size: 0.8em;
                text-indent: 20px;
                text-align: justify;
            }

        #searchid, #trackq {
            width: 500px;
            border: solid 1px #000;
            padding: 0px;
            font-size: 14px;
        }

        #result, #resultq {
            position: absolute;
            width: 500px;
            padding: 10px;
            display: none;
            margin-top: -1px;
            border-top: 0px;
            overflow: hidden;
            border: 1px #CCC solid;
            background-color: white;
        }

        .name {
            float: right;
            pointer-events: none;
        }

        .show {
            padding: 10px;
            border-bottom: 1px #999 dashed;
            font-size: 15px;
        }

        .show:hover {
            background: #4c66a4;
            color: #FFF;
            cursor: pointer;
        }

        .albumtrack {
            width: 500px;
        }

        .inputlabel {
            width: 100px;
            display: block;
        }

        input#submit {
            text-align: center;
            background-color: #fff;
            border: 2px solid #300;
            color: #300
        }

            input#submit:hover {
                background-color: #300;
                color: #fff;
                border: 2px solid #433;
            }
    </style>
</head>
<body>
    <div id="fa">
        <div class="poem">
            <div style="width:100%">
                <div style="width:100%;text-align:center">
                    <h3><strong>انتخاب منبع جستجو:</strong></h3>
                </div>
                <div style="width:100%;text-align:center">
                    <input type="radio" id="spotify" name="spotify" value="اسپاتیفای" checked>
                    <label for="spotify"><a href="@Html.Raw($"/spotify/?p={Model.PoemId}")"><img src="/image/spotify.png" alt="اسپاتیفای" height="32" /></a></label>
                    <input type="radio" id="golha" name="golha" value="گلها">
                    <label for="golha"><a href="@Html.Raw($"/g/?p={Model.PoemId}")"><img src="/image/golha.png" alt="گلها" height="32" /></a></label>
                    <input type="radio" id="beeptunes" name="beeptunes" value="بیپ‌تونز">
                    <label for="beeptunes"><a href="@Html.Raw($"/bp/?p={Model.PoemId}")"><img src="/image/beeptunes.png" alt="بیپ‌تونز" height="32" /></a></label>
                </div>
            </div>
            <p>
                با استفاده از این صفحه می‌توانید آهنگهایی را که در متن آنها از شعر جاری استفاده شده است معرفی کنید. جستجو در سایت <a href="https://open.spotify.com" target="_blank">اسپاتیفای</a> صورت می‌گیرد. جستجو با تایپ قسمتی از نام خواننده در جعبهٔ «خواننده» و کلیک بر روی آن شروع می‌شود (<span style="color:red">نکتهٔ مهم:</span> لطفاً توجه فرمایید که جستجو در اسپاتیفای عموماً با حروف لاتین به نتیجه می‌رسد). پس از انتخاب خواننده فهرست آلبومها و آهنگهای آلبوم جاری نمایش داده می‌شود. با کلیک بر روی پیوند صفحهٔ آهنگ می‌توانید جهت اطمینان آهنگ را در اسپاتیفای گوش کنید (پخش آهنگ در اسپاتیفای نیازمند ثبت‌نام در این سایت است). پس از «پیشنهاد قطعه» آهنگ پیشنهادی در صف بررسی قرار می‌گیرد و پس از بازبینی و تأیید به صفحهٔ اصلی شعر اضافه می‌شود. از این که کمک می‌کنید که گنجور به نمایه‌ای برای موسیقی ایرانی بدل شود سپاسگزاریم.
            </p>
            <p>
                <span style="color:red">تذکر مهم:</span> فقط مواردی تأیید می‌شود که <span style="color:red">در آهنگ متناظر همین شعر خوانده شود</span>. تعیین نام خواننده به تنهایی کارایی ندارد و لطفا جهت کاهش زمان مورد نیاز برای بررسی موارد پیشنهادی از اعلام موارد اینچنینی خودداری فرمایید. جهت مشاهدهٔ روش پیشنهادی برای کمک به این پروژه <a href="http://www.aparat.com/v/kxGre" target="_blank">این فیلم</a> را مشاهده فرمایید. فهرست کامل آهنگهای مرتبط در <a href="https://ganjoor.net/mundex/" target="_blank">این صفحه</a> در دسترس است.
            </p>

            <div class="content">
                <span class="inputlabel">خواننده: </span>
                <input type="text" class="search" id="searchid" placeholder="خواننده" />&nbsp;<span style="visibility:hidden" id="l1"><a id="artistlink" href="#" target="_blank">صفحهٔ هنرمند</a></span>
                <br />
                <div id="result"></div>
                <span class="inputlabel">آلبوم: </span><select name="album" id="album" disabled="disabled" class="albumtrack"></select>&nbsp;<span style="visibility:hidden" id="l2"><a id="albumlink" href="#" target="_blank">صفحهٔ آلبوم</a></span>
                <br />
                <span class="inputlabel">آهنگ: </span><select name="track" id="track" disabled="disabled" class="albumtrack"></select>&nbsp;<span style="visibility:hidden" id="l3"><a id="tracklink" href="#" target="_blank">صفحهٔ آهنگ</a></span>
                <br />

                <span><small>جستجو بر اساس نام آهنگ:</small> </span>
                <input type="text" class="trackq" id="trackq" placeholder="عنوان آهنگ" />
                <br />
                <div id="resultq"></div>

                <form action="index.php?p=<?=$poemid?>" method="post">
                    <input type="hidden" name="spotify_artist_name" id="spotify_artist_name" value="" />
                    <input type="hidden" name="spotify_artist_url" id="spotify_artist_url" value="" />
                    <input type="hidden" name="spotify_album_name" id="spotify_album_name" value="" />
                    <input type="hidden" name="spotify_album_url" id="spotify_album_url" value="" />
                    <input type="hidden" name="spotify_track_name" id="spotify_track_name" value="" />
                    <input type="hidden" name="spotify_track_url" id="spotify_track_url" value="" />



                    <input type="submit" name="submit" id="submit" value="پیشنهاد قطعه" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>

